html {
	background-color: black;
}

div {
	
	
}
h2 {
	
	size: 100%;
	background-color: red;
	margin-left: -8px;
	margin-top: -10px;
	
	
}

span {
	display: inline;
	padding: 10px 10px 10px 10px;
	background-color: black;
	font-size:50%;
	font-family: calibri;
	text-align: left;
	color: white;
		
}

p {
	font-size: 70%;
	font-family: arial;
	color: cyan;
	text-align: center;
	
	
}



